
/*Normalize*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1.3;
	font-size: 14px;
    font-family: 'Open Sans';
    color: #3d4451;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.wrapper {
    background-image: url('./assets/img/backgroung.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color:  rgba(138, 134, 134, 0.253);
    background-blend-mode: overlay;
}
.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
}
/* ------- header ----------- */
.header {
    position: fixed;
    width: 100%;
    padding: 15px 120px;
    background: rgba(255, 255, 255, 0.37);
}
.menu__list {
    display: flex;
    justify-content: end;
}
.menu__item {
    margin-left: 40px;
    border-bottom: 3px solid transparent;
}
.menu__item:active, 
.menu__item:hover {
    border-bottom: 3px solid #67e887;
}
.menu__link {
    display: inline-block;
    padding: 5px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #3d4451;
}
/* ------ main --------- */
.cv {
    padding-top: 70px;
}
.cv__main {
}
.main {
    display: flex;
    justify-content: space-between;
    padding: 55px 50px 40px;
    margin-top: 75px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.main__photo {
    max-width: 300px;
    padding: 0 15px;

}
.main__photo img {
    width: 100%;
}
.main__info {
    flex: 1 1 auto;
    padding: 0 15px;
    margin-left: 30px;
}
.hello {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    background-color: #67e887;
    color: #fff;
    text-transform: uppercase;
}
.hello::before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
    border-left-color: #67e887;
}
.main__name {
    font-size: 36px;
    color: #3d4451;
    font-weight: 700;
    margin-bottom: 10px;
}
.main__name > span {
    font-weight: 400;
}

.main__speciality {
    font-size: 18px;
    line-height: 1.1;
    padding-bottom: 25px;
    border-bottom: 1px solid #dedede;
}

.main__personal-data {
}
.personal-data {
    margin-top: 25px;
}
.personal-data__row {
    display: flex;
    margin-bottom: 10px;
}
.personal-data__title {
    flex: 0 0 150px;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.personal-data__content, .personal-data__content > a {
    font-size: 15px;
    color: #9da0a7;
}
.cv__about {
}
.about-me {
}
.about-me__text {
    padding: 0 50px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.8;
    text-align: center;
}
.title {
    padding-top: 65px;
    margin-bottom: 25px;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
}